.main-wrapper {
    background-color: #ffdcdc;
    position: relative;
    min-height: 100dvh;
    width: 100%;
}

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

mat-card {
    width: 100%;
    max-width: 400px;
    padding: 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.full-width {
    width: 100%;
}
