<div class="main-wrapper">
  <section class="about-layout">
  <!-- Columna izquierda: Hero + texto -->
  <div class="about-left">
      <section class="hero">
        <h1>Hello, I'm Roberto 👋</h1>
        <p>I'm a Fullstack Developer focused on building conversational experiences, automating processes, and crafting playful web systems.</p>
      </section>
    <div class="about-text">
        <h2>About Me</h2>
        <p>
          I build things that talk, automate, and delight — from AI chatbots to pixel-perfect UI, from backend APIs to game mechanics.
          My focus is on making technology more human, whether through smart automation or community-driven tools.
        </p>
        <p>
          I’ve led QA efforts, designed immersive Discord bots, and developed fullstack apps with clean architecture and obsessive attention to detail.
        </p>
        <p>
          I believe software is not just utility — it’s experience, narrative, and connection.
        </p>
      <div class="brand-section">
        <h3>Brands I've Worked With</h3>
        <a href="https://www.tokovt.com/" target="_blank" class="brand-link fade-in">
          <img src="assets/img/logos/tokovt-logo.png" alt="Brand Logo" class="brand-logo" />
        </a>
        <a href="https://www.aminotecplus.com" target="_blank" class="brand-link fade-in">
          <img src="assets/img/logos/aminotecplus_logo.svg" alt="Brand Logo" class="brand-logo" />
        </a>
        <a href="https://movimientodeaccionsocial.org.mx/organizaciones-mas/fundacion-quinta-carmelita-iap" target="_blank" class="brand-link fade-in">
          <img src="assets/img/logos/quinta_carmelita_logo.png" alt="Brand Logo" class="brand-logo" />
        </a>
      </div>
    </div>
  </div>

    <!-- Columna derecha: Foto -->
    <div class="about-photo fade-in">
      <img src="assets/img/foto.jpg" alt="Photo of Me" />
    </div>
  </section>
</div>
