.main-wrapper {
    background-color: #dcf8ff;
    position: relative;
    min-height: 100dvh;
    width: 100%;
}

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

mat-card {
    width: 100%;
    max-width: 400px;
    padding: 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.full-width {
    width: 100%;
}

.warning-box {
    background-color: #fce4ec;
    color: #c2185b;
    border: 1px solid #f06292;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 10px;
    text-align: center;
}

.pulse-button {
    margin-top: 1rem;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.08);
    }
    100% {
        transform: scale(1);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1.2s ease-out forwards;
    animation-delay: 0.3s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.tutorial-box {
    max-width: 400px;
    margin: 2rem auto;
    padding: 1rem 1.5rem;
    background-color: #fffde7;
    border-left: 6px solid #fdd835;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    position: relative;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 4rem; /* space for button */
}

.tutorial-box h3 {
    margin-top: 0;
    color: #444;
}

.tutorial-box p {
    color: #555;
    line-height: 1.5;
}

.next-step-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: #1ad8fa;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    animation: pulse 2s infinite;
    transition: transform 0.2s ease, background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(26, 216, 250, 0.4);
}

.next-step-btn:hover {
    background-color: #007fff;
    transform: scale(1.05);
}

.custom-card {
    max-width: 400px;
    margin: 100px auto 0 auto;
}


/* Heartbeat / pulse animation */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.08);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    .main-wrapper {
        margin-top: 160px;
    }
    .custom-card {
        width: none;
        margin: none;
    }

    mat-card {
        width: auto;
        max-width: auto;
        padding:  none;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
}