main {
    margin-left: 300px; /* coincide con el nuevo ancho del sidebar */
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #222;
    background-color: #f9f9f9;
    margin: 0;
}

.toolbar-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
}
