<div class="main-wrapper">
    <img src="assets/img/cover.png" alt="Decorative Overlay" class="hero-overlay" />
    <div class="hero-container">
        <h1 class="hero-name">ROBERTO</h1>
        <h1 class="hero-name" style="margin-bottom: 1.25rem;">RIVERA</h1>

        <p class="hero-subtitle fade-in left" style="animation-delay: 0s;">Software Engineer</p>
        <p class="hero-subtitle fade-in left" style="animation-delay: 0.3s;">QA & Automation</p>
        <p class="hero-subtitle fade-in left" style="animation-delay: 0.6s;">Fullstack Developer</p>
        <p class="hero-subtitle fade-in left" style="animation-delay: 0.9s;">Game Developer</p>
    </div>
    <footer class="footer">
        <p>© 2025 Roberto Rivera. All rights reserved.</p>
    </footer>
</div>