.main-wrapper {
    background-color: #ffdcdc;
    position: relative;
    min-height: 100dvh;
    width: 100%;
}

:host {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background: #f8f8f8;
}

mat-card {
    width: 100%;
    max-width: 500px;
    padding: 24px;
}

.section {
    margin-top: 24px;
}

.full-width {
    width: 100%;
}
